.featured-parent{
    justify-content: space-between;
    align-items: center;
    gap: 96px;
    margin-top: 100px;
}
.featured-img img{
   border-radius: 5px;
}
.featured-info button{
     border-radius: 0;
     padding: 10px 24px;
}
.featured-info h1{
    font-size: 2rem;
    font-weight: 700;
    color: #0A0826;
}
.featured-info p{
    font-size: 1rem;
    color: #6C6C6C;
    line-height: 28px;
}